body {
  font-family: 'Cairo', sans-serif;
}

[dir="rtl"] {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] .m__fix-auto {
  margin-right: auto;
}

[dir="ltr"] {
  text-align: left;
  direction: ltr;
}

[dir="ltr"] .m__fix-auto {
  margin-left: auto;
}

a {
  text-decoration: none !important;
}

.dark {
  background-color: #1F2029 !important;
}

.dark .bg-nav {
  background-color: #353746 !important;
}

.dark .bg-nav a {
  color: #fff !important;
  font-size: 20px;
  font-weight: 600;
}

.dark .bg-search {
  background-color: #353746 !important;
  color: #fff !important;
}

.light {
  background-color: #F8F8FB !important;
}

.light .bg-search {
  background-color: #fff !important;
}

.light .bg-nav {
  background-color: #fff;
}

.light .bg-nav a {
  color: #000 !important;
  font-size: 20px;
  font-weight: 600;
}

.language-change {
  background: linear-gradient(298deg, #da2c4d, #f8ab37) !important;
  color: #fff;
}

.fix__margin {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  width: 100%;
}

input, select {
  border: none !important;
  outline: none !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
}

.bg-search input, .bg-search select {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
