.card {
  position: relative;
  text-align: center;
  padding: 4rem;
  color: white;
  border-radius: 0.25rem;
  border: none !important;
}

.card:after {
  content: '';
  top: 0;
  right: 20%;
  bottom: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0) 20%);
}

.card .icon {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 auto;
}

.card .icon:after, .card .icon:before {
  position: absolute;
  top: 1rem;
  left: 50%;
  content: '';
  width: 2rem;
  height: 0.75rem;
  border: 1px solid white;
}

.error {
  background: linear-gradient(298deg, #da2c4d, #f8ab37);
}

.error .icon:before, .error .icon:after {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 0rem;
}

.error .icon:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.error a {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer !important;
  z-index: 5555555555555;
}
